.hero__container{
  border-radius: 20px;
  background: #FFF5F5;
  padding-top: 170px;
  padding-bottom: 150px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  // border: 1px solid red;
}
.hero__text{
  max-width: 723px;
  p{
    color: var(--black, #1F2128);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  b{
    color: var(--primary-blue, #092D46);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    display: block;
  }
}
.hero__title{
  color: #1F2128;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.44px;
  margin-bottom: 30px;
  span{
    position: relative;
    display: inline-block;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 30px;
      background: url(../../assets/image/arrows/line1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      bottom: -15px;
    }
  }
}
.hero__btn{
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  &::before, &::after{
    content: "";
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &::before{
    background-image: url(../../assets/image/stars/star1.png);
    width: 18px;
    height: 18px;
    top: 0;
    left: -38px;
  }
  &::after{
    background-image: url(../../assets/image/stars/star2.png);
    width: 24px;
    height: 24px;
    bottom: -40px;
    right: 60%;
  }
  a{
    color: var(--primary-blue, #092D46);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    &:first-child{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background: var(--primary-blue, #092D46);
      padding: 20px 25px;
      color: #fff;
    }
  }
}
.rtl__on{
  .hero__btn{
    &::after{
      right: auto;
      left: 60%;
    }
    &::before{
      left: auto;
      right: -38px;
    }
  }
}
.hero__img{
  position: relative;
  transform: rotate(-4deg);
  img{
    z-index: 2;
    position: relative;
  }
  &::after{
    content: "";
    background: url(../../assets/image/hero/fillSketch_hero.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -35px;
    right: -10px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    z-index: 1;
    transform: rotate(1deg);
  }
}

// Projects
.projects{
  height: 632px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  // background: #092D46;
}
.project__carusel{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-45deg) translateX(-25%);
  transform-origin: top left;
}
.brand-wheel {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  --animationspeed: 20s;
  --animationdelay: calc(var(--animationspeed) / 2);
  // background: #092D46;
}
.rtl__on{
  .brand-wheel{
    direction: ltr;
  }
}

.brand-slide {
  flex-shrink: 0;
  // position: absolute;
  animation-name: slidelogo;
  animation-duration: var(--animationspeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  background: #092D46;
  position: relative;
  img{
    height: auto;
    width: 100%;
    border-radius: 15px;
    z-index: 2;
  }
}

.brand-slide.delay {
  // transform: translateY(-100%);
  animation-name: slidelogo2;
  padding-top: 40px;
}

.brand-wheel:hover .brand-slide {
  // animation-play-state: paused;
}
.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  padding: 0 20px 0 20px;
}

@keyframes slidelogo {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slidelogo2 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

// filasofiya
.filasofiya{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  &__title{
    color: var(--black, #1F2128);
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
  }
  &__subtitle{
    color: var(--black, #1F2128);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    max-width: 580px;
    margin-bottom: 30px;
  }
  &__btn{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border-radius: 15px;
    background: var(--primary-blue, #092D46);
    padding:20px 25px;
    margin-bottom: 40px;
  }
}
.filasofiya__items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 40px;
  padding: 60px 80px 50px 80px;
  border-radius: 30px;
  border: 2px solid #EAF3F9;
}
.f__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  p{
    max-width: 270px;
    color: var(--black, #1F2128);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
}
@media (max-width:1440px) {
  .hero{
    gap: 100px;
  }
  .hero__text{
    max-width: 650px;
  }
  .hero__title{
    font-size: 36px;
    line-height: 140%;
  }
  .hero__img{
    width: 350px;
    img{
      width: 100%;
    }
  }
  .projects{
    height: 580px;
  }
  .project__carusel{
    transform: rotate(-45deg) translateX(-30%);
  }
}
@media (max-width:1200px) {
  .hero{
    gap: 50px;
  }
  .hero__text{
    max-width: 600px;
  }
  .hero__img{
    width: 280px;
  }
}
@media (max-width:1024px) {
  .hero__text{
    max-width: none;
    p{
      font-size: 18px;
      line-height: 160%;
    }
    b{
      font-size: 18px;
    }
  }
  .hero{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    padding: 0 10px 0 40px;
  }
  .rtl__on{
    .hero{
      padding: 0 40px 0 10px;
    }
  }
  .hero__title{
    font-size: 32px;
    margin-bottom: 20px;
  }
  .hero__btn{
    gap: 30px;
  }
  .projects{
    height: 400px;
  }
}
@media (max-width:940px) {
  .hero__container{
    padding-top: 0px;
  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 40px;
  }
  .rtl__on{
    .hero{
      padding: 0;
    }
  }
  .hero__text{
    padding:0 20px 0 40px;
  }
  .hero__img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transform: rotate(0deg);
    padding-top: 76px;
    overflow: hidden;
    img{
      width: auto;
      transform: rotate(-3deg);
      padding: 0 100%;
      background: #fff;
    }
    &::after{
      top: calc(100% - 30px);
      right: -10px;
      background-position: right;
      transform: rotate(1deg);
    }
  }
}
@media (max-width:768px) {
  .project__carusel{
    transform: rotate(-35deg) translateX(-35%) scale(1.2);
  }
  .brand-slide{
    gap: 20px;
  }
  .brand-slide.delay{
    padding-top: 20px;
  }
}
@media (max-width:500px) {
  .hero__container{
    padding-bottom: 100px;
  }
  .hero{
    gap: 20px;
  }
  .hero__img{
    &::after{
      top: 50%;
    }
    img{
      transform: translateY(-10px) rotate(-3deg);
    }
  }
  .hero__text{
    padding: 0 20px;
    p{
      margin-bottom: 20px;
    }
  }
  .hero__title{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .hero__btn{
    gap: 30px;
    flex-direction: column;
    &::after{
      right: 0;
      bottom: 0;
    }
    &::before{
      left: 0;
      top: -20px;
    }
    a{
      font-size: 14px;
      &:first-child{
        width: 320px;
      }
    }
  }
    
  .rtl__on{
    .hero__btn{
      &::after{
        right: auto;
        left: 0;
      }
      &::before{
        left: auto;
        right: 0;
      }
    }
  }
}
@media (max-width:645px) {
  .project__carusel{
    transform: rotate(-30deg) translateX(-42%) scale(1.3);
  }
  .hero__img{
    img{
      height: 400px;
    }
  }
}
@media (max-width:425px) {
  .hero__container{
    padding-bottom: 70px;
  }
  .project__carusel{
    transform: rotate(-25deg) translateX(-46%) scale(1.4);
  }
  .brand-slide{
    gap: 10px;
  }
  .brand-slide.delay {
    padding-top: 10px;
  }
}
@media (max-width:375px) {
  .hero__btn{
    a{
      &:first-child{
        width: 100%;
        padding: 15px 20px;
      }
    }
  }
}