.navbar{
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.burger__close, .nev__contact{
  display: none;
}
.nav{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  flex-grow: 0.5;
  .nav__li, .nav__li a{
    color: #092D46;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
  }
  .nav__dropdown{
    span{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &:hover{
      .nav__dropdown__menu{
        // height: auto;
        transform: scale(1);
      }
      img{
        transform: scale(-1);
      }
    }
  }
  .nav__dropdown__menu{
    position: absolute;
    top: 100%;
    list-style-type: none;
    background: rgb(158, 158, 158);
    border-radius: 5px;
    min-width: 170px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.4s linear;
    // height: 0;
    transform-origin: top left;
    transform: scale(0);
    a{
      color: #3F4352;
      width: 100%;
      padding: 5px;
    }
    
    li:first-child{
      padding-top: 10px;
    }
    li:last-child{
      padding-bottom: 10px;
    }
  }
}
.demo{
  button{
    border-radius: 15px;
    background: #092D46;
    padding: 20px 25px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    border: none;
    outline: none;
  }
}
.menu__btn{
  display: none;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: none;
  background: url(../../assets/image/hero/fillSketch.png);
  img{
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    padding: 12px;
    border-radius: 50%;
  }
}
.navbar__close{
  // display: none;
  width: 0;
  height: 0;
  position: fixed;
  background: rgba(45, 45, 45, 0.90);
  opacity: 0;
  transition: 0.3s linear opacity;
  z-index: 99;
  top: 0;
  left: 0;
}
.navbar__mobile{
  background: #929292;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 96px;
  z-index: 98;
}
.mobile__btns{
  display: flex;
  align-items: center;
  gap: 10px;
}
.phone__btn{
  img{
    background: #E40E41;
  }
}
.burger__close, .burger__btn{
  img{
    background: #092D46;
  }
}

@media (max-width:1024px) {
  .navbar{
    flex-direction: column;
    justify-content: flex-start;
    width: 360px;
    height: 100vh;
    gap: 40px;
    // right: -360px;
    transition: 0.3s linear;
    padding: 28px 20px;
    background: white;
  }
  .navbar__show{
    right: 0;
  }
  .navbar__close__show{
    display: block;
    width: 100%;
    height: 100vh;
  }
  .logo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .menu__btn{
    display: flex;
  }
  .nav{
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    flex-grow: 0;
    
    .nav__dropdown{
      flex-direction: column;
      align-items: flex-start;
      &:hover{
        .nav__dropdown__menu{
          transform: scale(1);
        }
        img{
          transform: scale(1);
        }
      }
    }
    .nav__dropdown__menu{
      transform: scale(1);
      position: relative;
      top: 0;
      height: 0;
      transition: 0.3s linear height;
    }
    .nav__dropdown__show{
      .nav__dropdown__menu{

      }
    }
  }
  .demo{
    button{
      width: 320px;
    }
  }
  .navbar__mobile{
    display: flex;
  }
}